@define-color selected-text #faba72;
@define-color text #835415;
@define-color border #9d8e81 ;
@define-color background #18120c ;



/*$color ="rgba(250, 186, 114, 1)"
$inner_color ="rgba(72, 41, 0, 1)"
$outer_color ="rgba(255, 221, 186, 1)"
$font_color ="rgba(250, 186, 114, 1)"
$placeholder_color ="rgba(72, 41, 0, 1)"
$check_color ="rgba(250, 186, 114, 1)"*/
