@import "./colors.css";

* {
    all: unset;
}

* {
    font-family: monospace;
    font-size: 18px;
    color: @text;
}

scrollbar {
    opacity: 0;
}

.normal-icons {
    -gtk-icon-size: 16px;
}

.large-icons {
    -gtk-icon-size: 32px;
}

.box-wrapper {
    background: alpha(@background, 0.95);
    padding: 20px;
    border: 1px solid @border;
    border-radius: 10px;
}

.search-container {
    background: @background;
    padding: 10px;
}

.input placeholder {
    opacity: 0.5;
}

.input:focus,
.input:active {
    box-shadow: none;
    outline: none;
}

child:selected .item-box * {
    color: @selected-text;
}

.item-box {
    padding-left: 14px;
}

.item-text-box {
    all: unset;
    padding: 14px 0;
}

.item-subtext {
    font-size: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
}

.item-image {
    margin-right: 14px;
    -gtk-icon-transform: scale(0.9);
}

.current {
    font-style: italic;
}

.keybind-hints {
    background: @background;
    padding: 10px;
    margin-top: 10px;
}
