$color ="{{colors.primary.default.hex}}"
$inner_color = rgba(16, 21, 17, 0.66)
$outer_color = rgba(211, 171, 146, 1)
$font_color = rgba(233, 191, 168, 1)
$placeholder_color = rgba(233, 191, 168, 0.7)
$check_color = rgba(163, 209, 205, 1)

