@define-color selected-text {{colors.primary.default.hex}};
@define-color text {{colors.inverse_primary.default.hex}};
@define-color border {{colors.outline.default.hex}} ;
@define-color background {{colors.background.default.hex}} ;



/*$color ="{{colors.primary.default.rgba}}"
$inner_color ="{{colors.on_primary.default.rgba}}"
$outer_color ="{{colors.on_primary_container.default.rgba}}"
$font_color ="{{colors.primary.default.rgba}}"
$placeholder_color ="{{colors.on_primary.default.rgba}}"
$check_color ="{{colors.primary.default.rgba}}"*/
